page {
	background: #f2f2f2;
}
.container {
	padding: 19.444444rpx 33.333333rpx;
	.header-wrap {
		.nav-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 16.666666rpx;
			.scan {
				width: 69.444444rpx;
				height: 47.222222rpx;
				box-shadow: 0px 2.777777rpx 5.555555rpx 0px rgba(80, 160, 221, 0.52);
				background: rgba(80, 160, 221, 0.3);
				border-radius: 27.777777rpx 0px 0px 27.777777rpx;
			}
			.uni-input-wrapper {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				background-color: #ffffff;
				border-radius: 0 27.777777rpx 27.777777rpx 0;
				margin-right: 54.166666rpx;
				.uni-input {
					height: 47.222222rpx;
					line-height: 47.222222rpx;
					font-size: 25rpx;
					flex: 1;
					background-color: #ffffff;
					padding: 0 6.944444rpx;
				}

				.uni-search {
					width: 111.111111rpx;
					height: 47.222222rpx;
					display: flex;
					justify-content: center;
					align-items: center;
					background: linear-gradient(142deg, #53dcee 0%, #50a0dd 47%, #5a4ac3 100%);
					border-radius: 27.777777rpx;
					color: #ffffff;
					font-size: 25rpx;
				}
			}
			.message {
				width: 54.166666rpx;
				height: 47.222222rpx;
				background-color: red;
			}
		}
		.carousel {
			width: 100%;
			height: 208.333333rpx;
			image {
				width: 100%;
				height: 100%;
			}
		}
		.navs {
			white-space: nowrap;
			.nav {
				display: flex;
				justify-content: space-between;
				margin: 13.888888rpx 0 18.055555rpx 0;
				.nav-item {
					font-size: 29.166666rpx;
					color: #6193e7;
				}
				.nav-select-item {
					font-weight: 600;
					color: #6193e7;
					// border-bottom-width: 2.777777rpx;
					// border-bottom-image: linear-gradient(135deg, #53dcee 0%, #50a0dd 51%, #5a4ac3 100%);
					background: linear-gradient(135deg, #53dcee 0%, #50a0dd 51%, #5a4ac3 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				.nav-select-item::after {
					content: '';
					background: linear-gradient(135deg, #53dcee 0%, #50a0dd 51%, #5a4ac3 100%);
					z-index: 1000;
					display: inline-block;
					width: 58.333333rpx;
					height: 5.555555rpx;
					border-radius: 5.555555rpx;
					position: absolute;
					bottom: 8.333333rpx;
					margin-left: -58.333333rpx;
				}
			}
		}
	}

	.tabs-content {
		height: 100%;
		background-color: green;
	}
}
