.personal-info-container {
	.head_pic {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30.555555rpx;
		.pic {
			width: 147.222222rpx;
			height: 147.222222rpx;
			border-radius: 100%;
		}
	}
	.basic-info {
		margin: 0 27.777777rpx 20.833333rpx 27.777777rpx;
		background: #ffffff;
		box-shadow: 0px 0px 6px 4px rgba(94, 174, 224, 0.29);
		border-radius: 5px;
		.uni-list-item__content-title {
			color: red;
		}
	}
	.cu-modal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1110;
		opacity: 0;
		outline: 0;
		text-align: center;
		-ms-transform: scale(1.185);
		transform: scale(1.185);
		backface-visibility: hidden;
		perspective: 2000upx;
		background: rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease-in-out 0s;
		pointer-events: none;
	}

	.cu-modal::before {
		content: '\200B';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.cu-modal.show {
		opacity: 1;
		transition-duration: 0.3s;
		-ms-transform: scale(1);
		transform: scale(1);
		overflow-x: hidden;
		overflow-y: auto;
		pointer-events: auto;
	}

	.cu-dialog {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 100%;
		background-color: transparent;
		border-radius: 10upx;
		overflow: hidden;
	}

	.cu-modal.bottom-modal::before {
		vertical-align: bottom;
	}

	.cu-modal.bottom-modal .cu-dialog {
		width: calc(100% - 55.555555rpx);
		border-radius: 0;
	}

	.cu-modal.bottom-modal {
		margin-bottom: -1000upx;
	}

	.cu-modal.bottom-modal.show {
		margin-bottom: 0;
	}
	// .cu-modal .cu-dialog > .cu-bar:first-child .action {
	// 	min-width: 100rpx;
	// 	margin-right: 0;
	// 	min-height: 100rpx;
	// }
	.sex-modal {
		.modal-title-content {
			padding: 19.444444rpx 0 36.111111rpx 0;
			background: #ffffff;
			box-shadow: 0px 0px 8.333333rpx 5.555555rpx rgba(94, 174, 224, 0.29);
			border-radius: 1.388888rpx;
			margin-bottom: 30.555555rpx;
			.modal-title {
				font-size: 29.166666rpx;
				color: rgba(107, 161, 226, 0.79);
			}
			.modal-content {
				font-size: 29.166666rpx;
				color: rgba(48, 48, 48, 0.79);
				.single-item {
					margin: 43.055555rpx 0 31.944444rpx 0;
				}
			}
		}
		.modal-cancel {
			text-align: center;
			margin-bottom: 52.777777rpx;
			color: rgba(107, 161, 226, 0.79);
			padding: 23.611111rpx 0;
			background: #ffffff;
			box-shadow: 0px 0px 8.333333rpx 5.555555rpx rgba(94, 174, 224, 0.29);
			border-radius: 8.333333rpx;
		}
	}
	.date-modal {
		.modal-content {
			margin-bottom: 55.555555rpx;
			// height: 277.777777rpx;
			background-color: #ffffff;
			box-shadow: 0px 0px 8.333333rpx 5.555555rpx rgba(94, 174, 224, 0.29);
			border-radius:1.388888rpx;
			padding: 19.444444rpx 0 52.777777rpx 0;
			.title-action {
				display: flex;
				justify-content: space-between;
				font-size: 29.166666rpx;
				padding: 0 27.777777rpx;
				color: rgba(107, 161, 226, 0.79);
				margin-bottom: 31.944444rpx;
			}
			
			.date-wrap {
				height: 138.888888rpx;
				padding: 27.777777rpx;
				.date {
					height: 100%;
					picker-view {
						width: 100%;
						// height: 600rpx
						// margin-top: 20rpx;
					}
					.item {
						line-height:50rpx;
						text-align: center;
					}
					/deep/ .uni-picker-view-indicator:before,
					/deep/ .uni-picker-view-indicator:after{
						height:0;
						border:0
					}
				}
			}
		}
	}
}
